/* @layer renderer-app @kind style */

.home {
  block-size: 100%;
  padding: var(--size-32);
}

.home__intro {
  align-items: center;
  text-align: center;
  max-inline-size: var(--size-512);
}

.home__logo {
  inline-size: var(--size-128);
  block-size: var(--size-128);
}
