node_modules/
dist/
dist-electron/
/release/
**/release/*.exe
**/release/*.AppImage
**/release/*.blockmap
**/release/*.yml
out/
*.tsbuildinfo
.vite/
coverage/
dist-storylite/
storylite-static/
.brock-scratch/
.idea/
.vscode/*
!.vscode/extensions.json

# local state
.user-data/
templates/app/build/
packages/create-brock/template/
